.container-box {
    display: flex;
    gap: 90px;
    justify-content: center;
    padding: 90px;
}

.card {
    background-color: #04b5f6;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 550px;
    height: 450px;
    text-align: center;
    padding-top: 45px;
    color: aliceblue;
    text-decoration: none;
    gap: 30px;
}

