.footer h3 {
    color: #4cc8f4;
    text-align: center;
    padding-top: 10%;
    font-size: 30px;
}

.footer h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 4rem;
    font-weight: 800;
}

.footer button {
    background-color: #01afef;
    color: white;
    text-align: center;
    margin-left: 46%;
    width: 140px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
